.css{
	width: 500px; 
  margin-top: 5vh;
}
.prticle{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

@media only screen and (max-width: 700px) {
  .css {
    width: 400px;
  }
}
@media only screen and (max-width: 500px) {
  .css {
    width: 350px;
  }
}